@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Vend+Sans:wght@500&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "@clerk/themes/shadcn.css";

/* @import "./theme-color-palette.css"; */
:root {
	--radius: 0.3rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.795 0.184 86.047);
	--primary-foreground: oklch(0.421 0.095 57.708);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.795 0.184 86.047);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.795 0.184 86.047);
	--sidebar-primary-foreground: oklch(0.421 0.095 57.708);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.795 0.184 86.047);
}

.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.795 0.184 86.047);
	--primary-foreground: oklch(0.421 0.095 57.708);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.554 0.135 66.442);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.795 0.184 86.047);
	--sidebar-primary-foreground: oklch(0.421 0.095 57.708);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.554 0.135 66.442);
}


/* ============================================= */
/* EPISODE CARDS                 */
/* ============================================= */
@layer utilities {

	.bg-pattern {
		background-image: url('/bg-pattern.svg') !important;

		opacity: 0.1 !important;
		z-index: 1 !important;
	}

	.layout-inset-background {
		background-image: url('/bg-pattern.svg'), var(--inset-gradient);
		/* background-color: var(--inset-gradient); */
		/* mix-blend-mode: multiply, screen; */
		background-size: 50% !important;
		background-position: center !important;
		background-repeat: repeat !important;
		background-attachment: fixed !important;
		background-blend-mode: multiply, darken !important;
		/* background-color: var(--primary) !important; */
	}

	/* Glassmorphic utility classes */
	.bg-dialog-card {
		background-color: var(--accent) !important;
	}

	.dialog-overlay {
		background-color: oklch(8.768% 0.19418 199.19 / 0.63) !important;

		/*opacity: 0.2 !important;*/
	}



	.bg-o {
		background-color: var(--o) !important;
	}

	.bg-dialog-card {
		background-color: var(--card) !important;
	}

	.bg-dialog-card {
		background-color: var(--card) !important;
	}

	.cl-formFieldInput {
		padding: 27px !important;
		border-radius: 10px !important;
		color: var(--color-primary-foreground) !important;
		height: 20px !important;
	}

	.cl-formFieldInput::placeholder {
		color: #93f8fc8e !important;
		font-weight: 300 !important;
	}

	.bg-sidebar-avatar {
		background-color: var(--sidebar-accent) !important;
		padding: 20px;
		width: 200%;
		margin: -50% -63%;
		height: 200%;
	}

	h1.cl-headerTitle {
		display: none !important;
	}

	.cl-headerSubtitle {
		font-size: 0.9rem !important;
		color: #d3e5edf8 !important;
	}

	.cl-socialButtons button {
		color: #dbeefdea !important;
		padding: 0.7rem 2rem !important;
		background-color: #6439c0fa !important;
		border-radius: 20px !important;
		box-shadow: 0px 3px 5px 0px hsla(240 38.46% 10.2% / 0.38),
			0px 2px 4px 0px #15151e26 !important;
	}

	.page-header-bg {
		border: 2px solid hsla(0 6.67% 2.94% / 0.87) 130% !important;
		border-radius: 20px !important;
		box-shadow: 1px 5px 12px 0px #00000073 !important;
	}

	.episode-card-wrapper-dark {
		background: var(--background) !important;
		border-radius: 20px !important;
		padding: 1rem;
		box-shadow: inset 1px 5px 12px 0px #00000073 !important;
	}

	.episode-card-wrapper .episode-card {
		border-radius: 20px !important;
		box-shadow: 1px 5px 12px 0px #00000073 !important;
	}

	.bg-generate-episode-card-wrapper,
	.bg-episode-card-wrapper,
	.episode-card-wrapper {
		/*background: var(--episode-card-wrapper-gradient) !important;*/
		/*border: 1px solid #8494d924;*/
		border-radius: 30px !important;
		box-shadow: 0px 16px 15px 1px hsla(240 38.46% 10.2% / 0.18),
			0px 2px 4px 0px #15151e26 !important;
		backdrop-filter: blur(7px);
		outline-offset: -1px;
		z-index: 5;
		background-repeat: no-repeat;
		padding: 30px;
		border-radius: 20px;
	}

}







/* ============================================= */
/* LAYOUT & SIDEBAR                  */
/* ============================================= */

/* ============================================= */
/* button             */
/* ============================================= */

@layer utilities {
	.btn-default {
		/*background: linear-gradient(to top, #9f85f4, #82dbd5);*/
		text-shadow: 0px 1px 1px 1px #23222788 !important;
		font-size: 0.8rem !important;
		font-weight: 800 !important;
		color: #453a5a !important;
		border-radius: 0.75rem !important;
		box-shadow: inset 0px 1px 0px 0px #1812162c,
			inset 0px -1px 1px #2f254b2c,
			0px 1px 0px 0px #1b1b1b1c,
			0px 3px 7px 0px #0b0b0b52,
			0px 1px 4px 0px #05050524,
			inset 0px -2px 1px 0px #20202016;
		transition: 300ms all ease-in;
	}

	.btn-default:hover {
		background: linear-gradient(to top, #a979f5, hsl(208, 60%, 67%));
		transform: translateY(1px);
		color: #d8d3e2 !important;
	}
}

.btn-secondary {
	background: linear-gradient(180deg,
			hsla(193.07 77.49% 45.29% / 0.86) -20%,
			oklch(0.31 0.05 218.57 / 0.95) 140%);
	text-shadow: 0px 1px 1px 1px #23222788 !important;
	font-size: 0.8rem !important;
	font-weight: 600 !important;
	height: 50px;
	padding: 10px 30px;
	color: lch(91.27 19.16 210.82) !important;
	border-radius: 0.75rem !important;
	outline: 0px solid transparent;
	min-width: 150px !important;
	box-shadow: inset 0px 1px 0px 0px #5595ee2c,
		inset 0px -1px 1px #542dc02c,
		0px 1px 0px 0px #1b1b1b1c,
		0px 3px 7px 0px #0b0b0b52,
		0px 1px 4px 0px #05050524,
		inset 0px -2px 1px 0px #20202016;
	transition: 300ms all ease-in;
	border: none;
}

.btn-secondary:hover {
	background: linear-gradient(180deg,
			#00919e,
			hsl(197.5 60% 15.69%)) !important;
	transform: translateY(1px);
	color: #78f7de !important;
}

/* ============================================= */
/* CARDS & CONTAINERS               */
/* ============================================= */
@layer utilities {
	.bg-card {
		/* background-color: oklch(0.19 0.02 290.52 / 0.07); */
		background-image: var(--episode-gradient);
		box-shadow: inset 0.5px 1px 0px 0px #7591d330,
			inset 0px -5px 10px 2px #00000050,
			0px 4px 4px 1px oklch(0.15 0 17.35 / 0.3),
			0px 2px 3px 1px oklch(0.23 0.03 283.65 / 0.45);

		/*mix-blend-mode: normal, multiply;*/

	}

	.bg-dunk {
		background-color: var(--kwak-3);
		/* background-image: var(--episode-gradient); */
		box-shadow: inset 0.5px 1px 0px 0px #7591d330,
			inset 0px -5px 10px 2px #00000050,
			0px 4px 4px 1px oklch(0.15 0 17.35 / 0.3),
			0px 2px 3px 1px oklch(0.23 0.03 283.65 / 0.45);
		padding: 20px;
		min-width: 40vw !important;
		/*mix-blend-mode: normal, multiply;*/

	}

	.bg-bigcard {
		/* background-color: oklch(0.19 0.09 290.52 / 0.87); */
		background-image: var(--bigepisode-gradient);
		border: none;


		/*border: 2px solid rgba(2 81 63 / 0.28); */
		/*outline-offset: -1px; */
		/*outline: 1px solid #1D1B2771 !important; */
	}

	.bg-episode-shell {
		background: var(--episode-shell-gradient) !important;
		min-height: 100vh;
		/*box-shadow: 0px 3px 14px #48407b !important;*/
	}

	.bg-card:hover {
		opacity: 0.95;
		transition: all 0.2s ease-in-out;
	}


	.bg-bundle-card,
	.bg-bundle {
		padding: 10px !important;
		border-radius: 18px;

		box-shadow: inset 0px -14px 89px 1px var(--bundle-card-shadow),
			inset 0px -15px 30px 0px #6f97c54e,
			0px 8px 20px 0px var(--bundle-card-shadow),
			0px 2px 2px 1px var(--bundle-card-shadow) !important;
		outline-offset: 1px !important;
		transition: all 0.2s ease-in-out;
	}
}

/* ============================================= */
/* FORMS (Inputs, Textareas)            */
/* ============================================= */
@layer base {
	a {
		color: var(--link);
		text-decoration: none !important;
		text-underline-offset: 2px !important;
	}

	a:hover {
		/*color: var(--link-hover) !important;*/
		opacity: 0.6;
		text-decoration: none !important;
		text-decoration: underline;
	}

	textarea {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100% !important;
		margin: 10px 0 !important;
		/* padding: 1.4rem 1.7rem !important; */
		font-size: 0.9rem !important;
		line-height: 0rem;
		font-weight: 400;
		/* height: 100% !important; */
		/* min-height: 12px !important; */
		/* max-height: 43px !important; */

		letter-spacing: 0.0015em;
		color: var(--primary-foreground) !important;
		background-color: var(--input) !important;
		outline: 1px solid #aeb2bd73 !important;
		border-radius: 10px !important;
		box-shadow: inset 0.5px 2px 3.5px 1px #00000067 !important;
		transition: all 0.2s ease-in-out;
		outline-offset: 1px !important;
		border: var(--ring) !important;
		padding: 15px !important;
		letter-spacing: 0.3px;
		margin-bottom: 10px !important;
		/* margin-bottom: 50px !important; */
		/* height: auto; */
		/* height: auto; */
		/* min-height: 40px; */
		height: 80px;
	}



	button.btn-playicon-lg > svg {
		position: relative !important;
		width: 32px !important;
		/* height: 32px !important; */
		padding: 0.5rem !important;
		justify-self: center !important;
		align-self: center !important;
		border-radius: 1rem !important;
		/*box-shadow: 0px 3px 14px #48407b !important;*/
	}

	textarea,
	input {
		outline: 1px solid transparent !important;
		outline-offset: 1px !important;

		background-color: var(--input) !important;
		box-shadow: inset 0px 3px 9px 1px var(--input-shadow) !important;
	}

	input::placeholder {
		/*color: var(--input-placeholder) !important;*/
		opacity: 0.75;
	}

	textarea:focus,
	input:focus {
		outline: 1px solid var(--input-ring) !important;
	}

	textarea:focus-visible,
	input:focus-visible {
		outline: 1px solid var(--input-ring) !important;
	}

	input:hover {
		outline: 1px solid transparent !important;
		outline-offset: 1px !important;
	}

	textarea:active,
	textarea:hover,
	textarea:focus,
	input:hover,
	input:active,
	input:focus {
		color: var(--color-primary-foreground) !important;
		outline: 1px solid var(--input-ring) !important;
		outline-offset: 1px !important;
		transition: all 0.2s ease-in-out;

		font-weight: 300 !important;
		/*box-shadow: inset 0px 4px 9px 1px #3732693d !important;*/
	}

	textarea:active,
	input:active {
		color: var(--input-ring) !important;
	}



	input::selection {
		opacity: 0.5 !important;
		color: var(--input-ring) !important;
		white-space: nowrap !important;
	}

	button.btn-playicon {
		border: 1px solid #00000000 !important;
		position: absolute;
		top: 20px !important;
		right: 20px !important;
		/* margin-left: 10px !important; */
		/* bottom: 0px;/ */
		/* height: 35px !important; */
		outline: 0px solid transparent !important;
		box-shadow: none !important;
		/*background: none !important;*/
		padding: 0 !important;
		justify-self: center !important;
		align-self: center !important;
		transition: all 0.2s ease-in-out;
		/*background-image: linear-gradient(
      90deg,
      #0e0e34b0,
      hsla(200.13 74.51% 40% / 0.96)
    );*/
		/* background: #8284E91B !important; */
		/* background-blend-mode: color, color-dodge !important; */
		/* mix-blend-mode: color !important; */
		border: none !important;
		outline: 1px solid transparent !important;
		box-shadow: none !important;
		background: none !important;
		padding: 0 !important;
		justify-self: center !important;
		align-self: center !important;
		transition: all 0.2s ease-in-out;
	}

	button.btn-playicon > svg {
		color: #07e4c7ca !important;
		width: 32px !important;
		height: 32px !important;
		padding: 0.35rem !important;
		border-radius: 1rem !important;
		border: 1px solid #19a8e05f !important;
		outline: 1px solid transparent !important;
		box-shadow: 0px 3px 4px #181c1c6b !important;
	}









}












/* ============================================= */
/* MEDIA QUERIES                 */
/* ============================================= */
@media screen and (min-width: 0px) and (max-width: 340px) {
	/* Add your media query styles here */


	.bg-episode-card-wrapper,
	.episode-card-wrapper {

		border-radius: 0px !important;

	}

}