/* Glassmorphic utility classes */
.glass {
  background: rgba(217 211 226 / 0.15);
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-dark {
  background: rgba(255 255 255 / 0.4);
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  border: 1px solid rgba(16 28 27 / 0);
}

.glass-card-dark {
  background-image: linear-gradient(
    135deg,
    oklch(0.86 0.15 199.19 / 0.2),
    rgba(188 9 220 / 0.02)
  ) !important;
  background: rgba(114 96 234 / 0.02);
  backdrop-filter: blur(44px) !important;
  -webkit-backdrop-filter: blur(44px) !important;
  border: 1px solid rgba(3 153 182 / 0.3);
  box-shadow:
    80px -20px 199px 3px rgba(225 187 254 / 0.1) inset,
    1px 1px 1px 1px rgba(234 221 244 / 0.04) inset;
}

.glass-card {
  background-image: linear-gradient(
    135deg,
    rgba(11 202 235 / 0.01),
    rgba(81 10 136 / 0.13)
  ) !important;
  background: rgba(114 96 234 / 0.02);
  backdrop-filter: blur(74px);
  -webkit-backdrop-filter: blur(47px) !important;
  border: 1px solid rgba(27 161 239 / 0.3);
  box-shadow:
    80px -20px 199px 3px rgba(181 159 198 / 0.1) inset,
    1px 1px 1px 1px rgba(234 221 244 / 0.04) inset;
}

.border-glass {
  border: 1px solid rgba(27 5 5 / 0.18) !important;
}

.glass-hover {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.glass-hover:hover {
  background: rgba(2 114 139 / 0.34);
  transform: translateY(-4px);
  box-shadow: 0 12px 40px 0 rgba(31, 38, 135, 0.25);
}

/* Animated gradient background */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(
    -45deg,
    oklch(0.17 0.08 325.74 / 0.94) 0%,
    oklch(0.78 0.13 196.7 / 0.67) 30%,
    hsla(253.95 97.73% 17.25% / 0.57) 60%,
    oklch(0.4 0.22 294.34 / 0.62) 100%
  );
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
}

/* Floating animation */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.float-animation {
  animation: float 6s ease-in-out infinite;
}

/* Shimmer effect */
@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.shimmer {
  background: linear-gradient(
    90deg,
    hsla(175.16 88.14% 49.61% / 0.83) 0%,
    #0ab2fafc 30%,
    #474ad7fb 60%,
    #ddd507fd 80%,
    hsla(35.9 97.45% 46.08% / 0.86) 100%
  );
  background-size: 1000px 100%;
  animation: shimmer 3s infinite;
}
.light {
  --radius: 0.65rem;
  --background: oklch(0.85 0.07 277.8);
  --foreground: oklch(0.37 0.11 283.94 / 0.99);
  --card: oklch(0.34 0.06 276.03);
  --card-foreground: oklch(0.81 0.08 269.25);
  --bundle-card: oklch(0.42 0.09 244.02 / 0.75);
  --bundle-card-foreground: oklch(0.79 0.13 196.62);
  --bundle-card-border: oklch(0.7 0.11 237.21 / 0.49);
  --bundle-card-shadow: oklch(0.2 0.04 227.98 / 0.8);
  --popover: oklch(0.63 0.1 280.5 / 0.82);
  --popover-foreground: oklch(0.7 0.12 302.48);
  --primary: oklch(0.76 0.11 279.41 / 0.98);
  --primary-foreground: oklch(0.33 0.07 279.41);
  --primary-foreground-muted: oklch(0.41 0.04 235.12 / 0.99);
  --secondary: oklch(0.7 0.1 228.75 / 0.55);
  --header: #12102feb;
  --secondary-foreground: oklch(0.28 0.03 250.81 / 0.79);
  --secondary-foreground-muted: rgba(25 43 61 / 0.7);
  --muted: oklch(0.25 0.03 276.12 / 0.89);
  --muted-foreground: oklch(0.45 0.06 285.16 / 0.63);

  --dialog-card: oklch(0.86 0.08 236.01 / 0.73);

  --sidebar-shadow-muted: oklch(0.68 0.16 293.35);
  --accent: oklch(0.42 0.1 245.47 / 0.78);
  --accent-foreground: oklch(0.86 0.07 280.24);
  --destructive: oklch(0.77 0.12 339.27 / 0.65);
  --destructive-foreground: oklch(0.54 0.21 352.51);
  --destructive-foreground-muted: oklch(0.61 0.23 6.92 / 0.86);
  --success-foreground: hsl(174.86 58.33% 23.53%);
  --success: hsl(186.17 96.69% 35.49%);
  --success-foreground-muted: hsl(183.58 34.01% 38.63%);
  --sidebar-menu: oklch(0.14 0 285.82 / 0);

  --border: oklch(0.69 0.13 271.85 / 0.54);
  --input: oklch(0.82 0.09 271.12 / 0.99);
  --input-ring: oklch(0.74 0.09 208.46 / 0.93);
  --input-ring-muted: oklch(0.68 0.14 258.5 / 0.82);
  --input-border: oklch(0.62 0.08 263.65 / 0.74);
  --input-placeholder: oklch(0.48 0.04 259.35 / 0.8);

  --link: oklch(0.51 0.17 280.16);
  --link-hover: oklch(0.74 0.11 306.8);
  --ring: oklch(0.62 0.25 307.88 / 0.93);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar-foreground: oklch(0.76 0.1 288.83);
  --sidebar-foreground-muted: oklch(0.22 0.07 264.8);
  --sidebar-primary: oklch(0.28 0.07 297.55);
  --sidebar-primary-foreground: oklch(0.48 0.15 294.98);
  --sidebar-accent: oklch(0.25 0.13 291.06 / 0.22);
  --sidebar-accent-foreground: oklch(0.7 0.16 281.58);
  --sidebar-shadow: oklch(0.75 0.07 255.22 / 0.16);
  --sidebar-border: oklch(0.53 0.13 281.17 / 0.97);

  /* --sidebar-ring: oklch(0.86 0.11 203.16); */
  --sidebar-foreground-muted: oklch(0.53 0.25 302.07);

  --sidebar-avatar: oklch(0.52 0.2 27.93 / 0.71);
  --container-gradient: linear-gradient(
    to bottom,
    rgba(146 203 232 / 0.84) -50%,
    rgba(106 139 249 / 0.3) 100%
  );
  --inset-gradient: linear-gradient(
    rgba(157 190 250 / 0.83) 20%,
    oklch(0.52 0.15 268.76 / 0.62) 140%
  );
  --bigepisode-gradient: linear-gradient(
    210deg,
    oklch(0.66 0.11 254.07 / 0.72) 0%,
    oklch(0.74 0.09 279.73 / 0.45) 120%
  );

  --episode-gradient: linear-gradient(
    180deg,
    oklch(0.84 0.09 237.69 / 0.82) -40%,
    color(a98-rgb 0.52 0.52 0.89 / 0.85) 100%
  );
  --container-dark: linear-gradient(
    to top,
    oklab(0.25 0 -0.05 / 0.87) -50%,
    rgba(61 80 94 / 0.67) 150%
  );
  --episode-shell-gradient: linear-gradient(
    0deg,
    oklch(0.72 0.12 272.25) -10%,
    oklch(0.79 0.09 279.91 / 0.92) 100%
  );
  --episode-card-wrapper-gradient: linear-gradient(
    to bottom,
    oklch(0.64 0.14 276.57 / 0.28) -50%,
    rgba(125 175 206 / 0.28) 110%
  );
  --container-dark-shadow: oklch(0.14 0 0.3 / 0.31);
}
