@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Vend+Sans:wght@500&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "@clerk/themes/shadcn.css";
@import "./theme-color-palette.css";





/* @import "./theme-color-palette.css"; */
:root {
	--radius: 0.65rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(74.933% 0.15445 74.778);
	--primary-foreground: oklch(0.97 0.014 254.604);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0% 0 0);
	--input: oklch(0.92 0.004 286.32);
	--input-selection: oklch(25.246% 0.11223 321.879 / 0.422);
	-input-ring: oklch(25.246% 0.11223 321.879 / 0.422);
	--ring: oklch(23.413% 0.00463 17.174);
	--chart-1: oklch(0.809 0.105 251.813);
	--chart-2: oklch(0.623 0.214 259.815);
	--chart-3: oklch(0.546 0.245 262.881);
	--chart-4: oklch(0.488 0.243 264.376);
	--chart-5: oklch(0.424 0.199 265.638);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.546 0.245 262.881);
	--sidebar-primary-foreground: oklch(0.97 0.014 254.604);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(95.356% 0.00677 286.039 / 0.069);
	--sidebar-ring: oklch(20.053% 0.00648 17.513);
}

.dark {
	--background: oklch(3% 0.005 270);
	--foreground: oklch(0.94 0.01 270);
	--card: oklch(8% 0.008 270);
	--card-foreground: oklch(0.94 0.01 270);
	--popover: oklch(8% 0.008 270);
	--popover-foreground: oklch(0.94 0.01 270);
	--primary: oklch(56.949% 0.11469 164.968);
	--primary-foreground: oklch(10% 0.01 160);
	--secondary: oklch(65% 0.22 300);
	--secondary-foreground: oklch(0.98 0 0);
	--muted: oklch(20% 0.008 270);
	--muted-foreground: oklch(0.60 0.015 270);
	--accent: oklch(65% 0.22 300);
	--accent-foreground: #000;
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(25% 0.01 270);
	--input: oklch(91.973% 0.00413 285.946 / 0.368);
	--input-selection: oklch(25.246% 0.11223 321.879 / 0.422);

	--ring: oklch(86.666% 0.25671 145.002);
	--chart-1: oklch(72% 0.19 160);
	--chart-2: oklch(65% 0.22 300);
	--chart-3: oklch(0.546 0.245 262.881);
	--chart-4: oklch(0.488 0.243 264.376);
	--chart-5: oklch(0.424 0.199 265.638);
	--sidebar: oklch(5% 0.005 270);
	--sidebar-foreground: oklch(0.94 0.01 270);
	--sidebar-primary: oklch(65% 0.22 300);
	--sidebar-primary-foreground: oklch(0.97 0.014 254.604);
	--sidebar-accent: oklch(20% 0.008 270);
	--sidebar-accent-foreground: oklch(0.94 0.01 270);
	--sidebar-border: oklch(20% 0.01 270);
	--sidebar-ring: oklch(65% 0.22 300);
}




@layer base {
	* {
		border-color: var(--border);

	}

	body {
		background-color: var(--background);
		color: var(--foreground);
	}
}


/* ============================================= */
/* EPISODE CARDS                 */
/* ============================================= */
@layer utilities {

	.bg-primary {
		background-color: var(--primary) !important;
	}

	.border {
		border: var(--border) !important;
	}

	.layout-inset-background {

		background-color: var(--background);
	}



	/* Glassmorphic utility classes */
	.bg-dialog-card {
		background-color: var(--card) !important;
	}

	.dialog-overlay {
		background-color: oklch(18.604% 0.00261 248.156 / 0.904) !important;

		/* opacity: 0.2 !important; */
	}



	.bg-o {
		background-color: var(--muted) !important;
	}

	.bg-dialog-card {
		background-color: var(--background) !important;
	}

	.bg-dialog-card {
		background-color: var(--card) !important;
	}

	.cl-formFieldInput {
		padding: 27px !important;
		border-radius: 10px !important;
		color: var(--color-primary-foreground) !important;
		height: 20px !important;
	}

	.cl-formFieldInput::placeholder {
		color: #93f8fc8e !important;
		font-weight: 300 !important;
	}

	.bg-sidebar-avatar {
		background-color: var(--background) !important;
		padding: 20px;
		width: 200%;
		margin: -50% -63%;
		height: 200%;
	}

	h1.cl-headerTitle {
		display: none !important;
	}

	.cl-headerSubtitle {
		font-size: 0.9rem !important;
		color: #d3e5edf8 !important;
	}

	.cl-socialButtons button {
		color: #dbeefdea !important;
		padding: 0.7rem 2rem !important;
		background-color: #121313fa !important;
		border-radius: 20px !important;
		box-shadow: 0px 3px 5px 0px hsla(240, 6%, 10%, 0.38),
			0px 2px 4px 0px #15151e26 !important;
	}

	.page-header-bg {
		border: 2px solid hsla(0 6.67% 2.94% / 0.87) 130% !important;
		border-radius: 20px !important;
		padding: 2rem !important;
	}

	.episode-card-wrapper-dark {
		background: #0f0f0f !important;
		border-radius: 20px !important;
		padding: 1rem;
	}

	.episode-card-wrapper {
		border-radius: 10px !important;

	}

	.bg-generate-episode-card-wrapper,
	.bg-episode-card-wrapper,
	.episode-card-wrapper {
		background: var(--card) !important;
		border: 0px solid transparent !important;
		box-shadow: none !important;
		outline: 0px solid transparent !important;
		padding: 1rem;
	}

}







/* ============================================= */
/* LAYOUT & SIDEBAR                  */
/* ============================================= */

/* ============================================= */
/* button             */
/* ============================================= */

@layer utilities {





	.btn-secondary {
		background: linear-gradient(180deg,
				hsla(181, 40%, 47%, 0.86) -20%,
				oklch(0.31 0.05 218.57 / 0.95) 140%);
		text-shadow: 0px 1px 1px 1px #23222788 !important;
		font-size: 0.8rem !important;
		font-weight: 600 !important;
		height: 50px;
		padding: 10px 30px;
		color: lch(68.98% 37.93 217.46) !important;
		border-radius: 0.75rem !important;
		outline: 0px solid transparent;
		min-width: 150px !important;
		box-shadow: inset 0px 1px 0px 0px #5595ee2c,
			inset 0px -1px 1px #542dc02c,
			0px 1px 0px 0px #1b1b1b1c,
			0px 3px 7px 0px #0b0b0b52,
			0px 1px 4px 0px #05050524,
			inset 0px -2px 1px 0px #20202016;
		transition: 300ms all ease-in;
		border: none;
	}

	.btn-secondary:hover {
		background: linear-gradient(180deg,
				#071d1f,
				hsl(197.5 60% 15.69%)) !important;
		transform: translateY(1px);
		color: #78f7de !important;
	}

	/* ============================================= */
	/* CARDS & CONTAINERS               */
	/* ============================================= */

	.bg-card {
		background-image: linear-gradient(to bottom left, #3c334893, #2e323175);
	}

	.bg-bigcard {
		background-color: var(--card);
		border: 2px solid var(--border);
		border-radius: 1rem !important;
		padding: 0.1rem 1rem;
	}







}

/* ============================================= */
/* FORMS (Inputs, Textareas)            */
/* ============================================= */
@layer base {
	a {
		color: var(--link);
		text-decoration: none !important;
		text-underline-offset: 2px !important;
	}

	a:hover {
		/*color: var(--link-hover) !important;*/
		opacity: 0.6;
		text-decoration: none !important;
		text-decoration: underline;
	}

	textarea {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100% !important;
		margin: 10px 0 !important;
		/* padding: 1.4rem 1.7rem !important; */
		font-size: 0.9rem !important;
		line-height: 0rem;
		font-weight: 400;
		/* height: 100% !important; */
		/* min-height: 12px !important; */
		/* max-height: 43px !important; */

		letter-spacing: 0.0015em;
		color: var(--primary-foreground) !important;
		background-color: var(--input) !important;
		outline: 1px solid #aeb2bd73 !important;
		border-radius: 10px !important;
		box-shadow: inset 0.5px 2px 3.5px 1px #00000067 !important;
		transition: all 0.2s ease-in-out;
		outline-offset: 1px !important;
		border: var(--ring) !important;
		padding: 15px !important;
		letter-spacing: 0.3px;
		margin-bottom: 10px !important;
		/* margin-bottom: 50px !important; */
		/* height: auto; */
		/* height: auto; */
		/* min-height: 40px; */
		height: 80px;
	}

	button {
		color: white !important;
		transition: all 0.2s ease-in-out;
		font-weight: 400 !important;
		margin-bottom: 20px !important;
	}

	a:hover {
		cursor: pointer;
		opacity: 0.8 !important;
	}

	input {
		background-color: #ffffffc4 !important;
		background-image: linear-gradient(to bottom, #2b292924, #3c3c4641) !important;
		color: var(--accent-foreground) !important;
		border-radius: 10px !important;
		box-shadow: inset 0.5px 2px 3.5px 1px #00000067 !important;
		transition: all 0.2s ease-in-out;
		/* outline-offset: 1px !important; */
		border: var(--ring) !important;
		padding: 15px !important;
		letter-spacing: 0.3px;
	}

	input:focus-visible,
	input:focus,
	input:hover,
	input:active {
		cursor: pointer;
		color: var(--accent-foreground) !important;
	}

	button:hover {
		cursor: pointer;
		opacity: 0.9 !important;
	}

	button.btn-playicon-lg > svg {
		position: relative !important;
		width: 32px !important;
		/* height: 32px !important; */
		padding: 0.5rem !important;
		justify-self: center !important;
		align-self: center !important;
		border-radius: 1rem !important;
		/*box-shadow: 0px 3px 14px #48407b !important;*/
	}


	input::placeholder {
		color: var(--input-ring) !important;
		opacity: 0.55 !important;

		font-size: 0.8rem !important;
		font-weight: 400 !important;

	}

	textarea:focus,
	input:focus {
		outline: 1px solid var(--input-ring) !important;
	}

	textarea:focus-visible,
	input:focus-visible {
		outline: 1px solid var(--input-ring) !important;
	}

	input:hover {
		outline: 1px solid transparent !important;
		outline-offset: 1px !important;
	}

	textarea:active,
	textarea:hover,
	textarea:focus,
	input:hover,
	input:active,
	input:focus {
		outline: 1px solid var(--input-ring) !important;
		outline-offset: 1px !important;
		transition: all 0.2s ease-in-out;

		font-weight: 300 !important;
		/*box-shadow: inset 0px 4px 9px 1px #3732693d !important;*/
	}

	textarea:active,
	input:active {
		color: var(--input-ring) !important;
	}



	input::selection {
		white-space: nowrap !important;
		background-color: var(--input-ring) !important;
	}

	button.btn-playicon {
		border: 1px solid #00000000 !important;
		position: absolute;
		top: 20px !important;
		right: 20px !important;
		/* margin-left: 10px !important; */
		/* bottom: 0px;/ */
		/* height: 35px !important; */
		outline: 0px solid transparent !important;
		box-shadow: none !important;
		/*background: none !important;*/
		padding: 0 !important;
		justify-self: center !important;
		align-self: center !important;
		transition: all 0.2s ease-in-out;
		/*background-image: linear-gradient(
      90deg,
      #0e0e34b0,
      hsla(200.13 74.51% 40% / 0.96)
    );*/
		/* background: #8284E91B !important; */
		/* background-blend-mode: color, color-dodge !important; */
		/* mix-blend-mode: color !important; */
		border: none !important;
		outline: 1px solid transparent !important;
		box-shadow: none !important;
		background: none !important;
		padding: 0 !important;
		justify-self: center !important;
		align-self: center !important;
		transition: all 0.2s ease-in-out;
	}

	button.btn-playicon > svg {
		color: #07e4c7ca !important;
		width: 32px !important;
		height: 32px !important;
		padding: 0.35rem !important;
		border-radius: 1rem !important;
		border: 1px solid #19a8e05f !important;
		outline: 1px solid transparent !important;
		box-shadow: 0px 3px 4px #181c1c6b !important;
	}









}












/* ============================================= */
/* MEDIA QUERIES                 */
/* ============================================= */
@media screen and (min-width: 0px) and (max-width: 340px) {
	/* Add your media query styles here */


	.bg-episode-card-wrapper,
	.episode-card-wrapper {

		border-radius: 0px !important;

	}

}