/*
:root,
.light,
.light-theme {
  


    
    --kwak-1: oklch(0.96 0.03 300);
     --kwak-2: oklch(0.92 0.05 300);
     --kwak-3: oklch(0.88 0.07 300);
     --kwak-5: oklch(0.76 0.16 300);
     --kwak-6: oklch(0.72 0.17 300);
     --kwak-6: oklch(0.44 0.14 300);
     --kwak-8: oklch(0.33 0.12 300);
     --kwak-9: oklch(0.22 0.1 300);
     --kwak-10: oklch(0.11 0.03 300);
  
    
    
    --wyn-1: oklch(0.99 0.01 1);
    --wyn-2: oklch(0.96 0.02 1);
    --wyn-3: oklch(0.88 0.08 1);
    --wyn-5: oklch(0.78 0.15 1);
    --wyn-7: oklch(0.71 0.15 1);
    --wyn-8: oklch(0.73 0.16 1);
    --wyn-9: oklch(0.66 0.14 1);
    --wyn-10: oklch(0.51 0.11 1);
    --wyn-11: oklch(0.32 0.07 1);
    --wyn-12: oklch(0.26 0.06 1);
  
    --swak-10: oklch(25% 0.0331 276.7);
    --swak-9: oklch(28.2% 0.0455 276.7);
    --swak-8: oklch(31.2% 0.0536 276.7);
    --swak-6: oklch(34.9% 0.0603 276.7);
    --swak-5: oklch(0.5800 0.0656 270.7);
    --swak-4:oklch(0.7872 0.0686 276.77);
    --swak-3: oklch(0.9100 0.0697 274.77);
    --swak-2: oklch(0.93896 0.0767 273.18);
    --swak-1: oklch(0.9300 0.017 270.18);

 --beduk-10: oklch(0.9617 0.027 254.18);
 --beduk-9: oklch(0.9317 0.027 254.18);
 --beduk-8: oklch(0.90 0.026 240);
 --beduk-7: oklch(0.87 0.019 235);
 --beduk-6: oklch(0.83 0.08 221);
 --beduk-5: oklch(0.79 0.09 221);
 --beduk-4: oklch(0.75 0.1 221);
 --beduk-3: oklch(0.71 0.11 221);
 --beduk-2: oklch(0.67 0.12 221);
 --beduk-1: oklch(0.63 0.13 221);
 --beduk-0: oklch(0.59 0.14 221);

 
 
 
 
    
}*/


.light,
.light-theme,
.dark,
.dark-theme {


    --kwak-10: oklch(0.991 0.007 200);
    --kwak-9: oklch(0.97 0.05 250);
    --kwak-8: oklch(0.93 0.07 240);
    --kwak-7: oklch(0.89 0.08 230);
    --kwak-6: oklch(0.77 0.11 230);
    --kwak-5: oklch(0.60 0.12 230);
    --kwak-4: oklch(0.42 0.12 230);
    --kwak-3: oklch(0.30 0.11 230);
    --kwak-2: oklch(0.26 0.07 230);
    --kwak-1: oklch(0.2 0.0479 243.35);




    --kwak-hex-10: #020c11;
    --kwak-hex-9: #025679;
    --kwak-hex-8: #0379a9;
    --kwak-hex-7: #049cd9;
    --kwak-hex-6: #28abe1;
    --kwak-hex-5: #4cbbe9;
    --kwak-hex-4: #70cae1;
    --kwak-hex-3: #94d9e9;
    --kwak-hex-2: #b8e8f1;
    --kwak-hex-1: #dcf7f9;


    --beduk-hex-1: #e6dafe;
    --beduk-hex-2: #e6dafe;
    --beduk-hex-3: #b99fe9;
    --beduk-hex-4: #a583e3;
    --beduk-hex-5: #8603e9;
    --beduk-hex-6: #6902b9;
    --beduk-hex-7: #3c0569;
    --beduk-hex-8: #300256;
    --beduk-hex-9: #31015c;
    --beduk-hex-10: #1a1a1a;

    --beduk-10: oklch(0.96 0.03 300);
    --beduk-9: oklch(0.92 0.05 300);
    --beduk-8: oklch(0.88 0.07 300);
    --beduk-7: oklch(0.76 0.16 300);
    --beduk-6: oklch(0.72 0.17 300);
    --beduk-5: oklch(0.55 0.14 300);
    --beduk-4: oklch(0.37 0.12 300);
    --beduk-3: oklch(0.28 0.1 300);
    --beduk-2: oklch(0.24 0.12 300);
    --beduk-1: oklch(0.19 0.03 290);




    --wyn-1: oklch(0.99 0.01 1);
    --wyn-2: oklch(0.96 0.02 1);
    --wyn-3: oklch(0.88 0.08 1);
    --wyn-4: oklch(0.78 0.15 1);
    --wyn-5: oklch(0.71 0.15 1);
    --wyn-6: oklch(0.73 0.16 1);
    --wyn-7: oklch(0.66 0.14 1);
    --wyn-8: oklch(0.51 0.11 1);
    --wyn-9: oklch(0.32 0.07 1);
    --wyn-10: oklch(0.26 0.06 1);
    --mustard-1: oklch(0.99 0.01 60);
    --mustard-2: oklch(0.96 0.02 60);
    --mustard-3: oklch(0.88 0.08 60);
    --mustard-4: oklch(0.77 0.15 60);
    --mustard-5: oklch(0.71 0.15 60);
    --mustard-6: oklch(0.73 0.16 60);
    --mustard-7: oklch(0.66 0.14 60);
    --mustard-8: oklch(0.51 0.11 60);
    --mustard-9: oklch(0.32 0.07 60);
    --mustard-10: oklch(0.26 0.06 60);



    --swak-1: oklch(25% 0.0331 276.7);
    --swak-2: oklch(28.2% 0.0455 276.7);
    --swak-3: oklch(31.2% 0.0536 276.7);
    --swak-4: oklch(34.9% 0.0603 276.7);
    --swak-5: oklch(40.9% 0.0756 276.7);
    --swak-6: oklch(60% 0.09014 276.7);
    --swak-7: oklch(75% 0.07014 276.7);
    --swak-8: oklch(85.6% 0.0297 276.7);
    --swak-9: oklch(0.9317 0.019 276.18);
    --swak-10: oklch(0.9510 0.013 276.18);


    --swak-contrast: #ffffff;
    --swak-surface: rgba(0, 0, 0, 0.05);
    --swak-indicator: #6068a9;
    --swak-track: #6068a9;
}